@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    background-color: #E5E5E5;
}

.colorPink {
    z-index:1;
    position: absolute;
    background-color: #F9BDBD;
    border-bottom-left-radius: 120px ;
    top: 0px;
    width: 370px;
    left: 979px;
    height: 800px;
}

.logoTwo img  {
    z-index: 2;
    position: absolute;
    top: 400px;
    left: 722px;
    width: 382px;
    height: 382px;    
}

.modernTable img {
    z-index: 3;
    position: absolute;
    width: 568px;
    height: 577px;
    top: 165px;
    left: 791px;
}

img.lingure {
    position: absolute; 
    margin-left: 1052px;
    margin-top: 144px;
}

.wooddenFurniture {
    margin-left: 150px;
    margin-top: 300px;
    margin-bottom: 120px;

}

.wooddenFurniture p {
    font-size: 36px;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 36px;
}

h3 {
    width: 381px;
    height: 98px;
    font-size: 72px;
    color: #2222221A;
}

.wooddenFurniture button {
    background-color: #DAA520;
    border-color: #DAA520;
    color: #FFFFFF;
    border-radius: 10px;
    width: 175px;
    height: 50px;
}

.gridAbout {
    margin-bottom: 50px;
    align-items: center;
    margin-left: 100px;
    display: grid;
    grid-template-columns: 44px 217px 462px 441px;
}

.gridAbout hr {
    background-color:#000000;
    width: 450px;
    height: 2px ;
}

.logoFour { 
    position: absolute;
    z-index: 1;
    margin-top: 190px;
}

.brownColor {
    position: absolute;
    z-index: 2;
    margin-top:-70px;
    margin-left:100px;
    background-color: #F7DEA6;
    border-bottom-left-radius: 110px;
    border-top-right-radius: 110px;
    width: 280px;
    height: 400px;
}

.salata img {
    position: absolute;
    z-index: 3;
    margin-top: 10px;
    margin-left: 134px;
}

.textWoodies p {
    margin-left: 700px;
    margin-top:90px;
    font-size: 36px;
}

.textCustomized p {
    margin-left: 80px;
    margin-top: 99px;
    font-size: 36px;
}

.gridHow {
    margin-top: 160px;
    margin-bottom: 50px;
    align-items: center;
    margin-left: 100px;
    display: grid;
    grid-template-columns: 40px 266px 297px 614px;
}

.gridHow hr {
    background-color:#000000;
    width: 70px;
    height: 2px ;

}

.gridHow h3 {
    width: 579px;
    height: 98px;
    color: #2222221A;
    font-size: 72px;
}

.gridNumbers {
    margin-top: 90px;
    margin-left: 100px;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.gridWorks {
    left: 153px;
    bottom: 116px;
    align-items: baseline;
    position: relative;
    display: grid;
    grid-template-columns: auto 309px 310px 397px;
}

.gridDepartment {
    position: relative;
    margin-left: 52px;
     left: 55px;
    bottom: 117px;
    display: grid;
    font-size: 24px;
    align-items: center;
    grid-template-columns: 295px 361px auto auto;
}

div.buttonPersonalized {
    margin-top: -62px;
}

.buttonPersonalized button {
    background-color: #DAA520;
    border-color:#DAA520;
    color: #FFFFFF;
    border-radius: 5px;
    margin-left: 568px;
    width: 200px;
    height: 42px;
    font-size: 16px;
}

.gridCategories {
    margin-top: 160px;
    margin-bottom: 50px;
    align-items: center;
    margin-left: 100px;
    display: grid;
    grid-template-columns: 42px 263px 399px 603px;
}

.gridCategories hr {
    background-color:#000000;
    width: 340px;
    height: 2px ;
}

.gridCategories h3 {
    width: 579px;
    height: 98px;
    color: #2222221A;
    font-size: 72px;
}

.gridColors {
    gap: 50px;
    margin-left: 100px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.colorRose {
    background-color: #F9BDBD;
    border-bottom-left-radius:100px;
    border-top-right-radius: 100px ;
    width: 280px;
    height: 400px;
}

.colorBrown {
    background-color: #F7DEA6;
    border-bottom-left-radius:100px;
    border-top-right-radius:100px;
    width: 280px;
    height: 400px;
}

.colorBlue {
    
    background-color: #A8DCEC;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    width: 280px;
    height: 400px;
}

.gridTestimony {
    bottom: 950px;
    margin-bottom: 40px;
    align-items: center;
    margin-left: 100px;
    display: grid;
   grid-template-columns: 40px 266px 456px 614px;
}

.gridTestimony hr {
    background-color:#000000;
    width: 414px;
    height: 2px ;
}

.gridTestimony h3 {
    width: 579px;
    height: 98px;
    color: #2222221A;
    font-size: 72px;
}

.gridColors h4 {
    font-size: 24px;
    text-align: left;
    margin-left: 10px;
}

.gridColors img {
    text-align: center;
}

.room {
    margin-left: 100px;
    display: grid;
    grid-template-columns: auto auto auto ;
    gap: 80px;
}
 
.room img {
    border-top-left-radius: 85px;
    border-bottom-right-radius: 85px;
}
.contorBlues {
    border: 2px solid blue;
    width: 385px;
    height: 280px;
     border-top-right-radius: 85px;
    border-bottom-left-radius: 85px;
}
 
.contorBlues img {
    margin-top: 30px;
    margin-left:20px;
}

.contorBlues p {
    font-size: 14px;
    text-align: center;
}

.gridWoman {
    display: grid;
       grid-template-columns: 71px 210px;
}   

.gridWoman img {
    border-radius: 30px;
}

.gridWoman p {

    margin-top: 31px;
    margin-left: -111px;
}

.gridArrow {
    bottom: 41px;
    position: relative;
    left: 872px;
    align-items: center;
    display: grid;
    grid-template-columns: 39px 286px 38px 37px;
}

.lineYellow {
    margin-left: 141px;
    display: grid;
    gap: 30px;
    grid-template-columns: auto auto auto auto;
}

.lineYellow hr {
    background: #E5E5E5;
    border-radius: 10px;
    width: 40px;
    height: 8px;
}

.hrYellow hr {
    background-color: #DAA520;
}

.email {
    
    position: relative;
    top: -60px;

    align-items: center;
    margin-left: 100px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 688px 343px 110px
}

.space input {
    border-color: #DAA520;
    border-radius: 5px;
    width: 355px;
    height: 40px;

}

.subscribe input {
    border-color: #DAA520;
    border-radius: 5px;
    width: 140px;
    height: 47px;
    background: #DAA520;
    color: #E5E5E5;
}

.footer img {
    width: 508px;
    height: 455px;

}
.footerBackground {
    position: relative;
    z-index: -5;
    bottom: 174px;
    display: grid;
  grid-template-columns: 600px auto;
}

.footerBackground img{
    
    width: 741px;
    height: 550px;
}


.longLine img {
    bottom: 500px;
    position: relative;
    margin-left: 100px;
    width: 750px;
    height: 1px;
}

.gridFooter {
    bottom: 470px;
    position: relative;
    margin-left: 100px;
    display: grid;
   grid-template-columns: 250px 140px 140px 130px 130px;
   }

.gridFooter h4 {
    font-size: 18px;
    color: #333333;
   }

.gridFooter p {
    font-size: 14px;
    color: #8D8D8D;
}


.logoOne {
    display: flex;
    align-items: center;
    gap: 10px;
}

.gridFooter img {
    width: 30px;
    height: 30px;
}

.class2020  {
    position: relative;
    left: 522px;
    bottom: 442px;

}

.class2020 p {
    font-size:18pxs;
    color: #8D8D8D;
}



    

















     




